fastapi
uvicorn
python-dotenv
httpx
python-multipart
kiwipiepy
rapidfuzz
sqlalchemy
psycopg2-binary
pydub
PyJWT
anthropic
asyncpg
sse-starlette
pyyaml
pydantic-settings
anthropic
numpy
scipy
noisereduce
librosa
matplotlib
